* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body {
    font-size: 10px;
    font-family: 'Arial';
    font-weight: 400;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    font-weight: 300;
}

/* --------------------------- */
/* NAVIGATION */
/* --------------------------- */

/* Navbar container */
.navbar {
    overflow: hidden;
    background-color: #58ce71;
    font-family: Arial;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 4rem;
    padding-right: 4rem;
}

.navbar form{
    display: flex;
    align-items: center;
}

.navbar form button,
.navbar form a {
    background-color: #58ce71;
    font-size: 1.75rem;
    padding: 0.35rem;
    border-top: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    font-family: 'Arial';
    font-weight: 300;
    color: black;
    margin-right: 1.5rem;
}

.navbar form button:hover,
.navbar form a:hover{
    color: white;
    background-color: black;
}

.navbar form input[type='text']{
    height: 3rem;
    padding: 0.35rem;
    margin-right: 1.5rem;
    width: 250px;
}

.navbar img{
    border-radius: 20%;
    margin: 0.6rem 0;
    margin-left: 3rem;
}

/* Links inside the navbar */
.navbar a {
    float: left;
    font-size: 2rem;
    color: white;
    text-align: center;
    padding: 0.15rem;
    text-decoration: none;
}

/* The dropdown container */
.dropdown {
    float: left;
    overflow: hidden;
    margin-right: 2rem;
}

/* Dropdown button */
.dropdown .dropbtn {
    font-size: 2rem;
    border: none;
    outline: none;
    color: white;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
    color: darkblue;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-size: 1.5rem;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

.main-nav{
    display: flex;
    font-weight: 300;
}

.navbar-link-component{
    margin-right: 2rem;
}

/* --------------------------- */
/* REUSABLE */ 
/* --------------------------- */
.row {
    max-width: 1140px;
    margin: 0 auto;
}

.btn{
    height: auto;
    font-family: 'Arial';
    border-radius: 5px;
    font-weight: 300;
    font-size: 1.5rem;
    width: 75%;
}

.btn-full {
    background-color: #58ce71;
    border-color: #58ce71;
    color: black;
    outline: none;
}

.btn:active{
    border-style: outset;
}

.btn:hover{
    background-color: #7fdb93;
}

/* --------------------------- */
/* LOGIN REGISTER FORM */
/* --------------------------- */

.login-register{
    display: flex;
    flex-direction: column;
    max-width: 550px;
    margin: 0 auto;
    align-items: center;
}

.login-register form{
    padding-top: 1.5rem;
    display: flex;
    flex-direction: column;
    max-width: 550px;
    margin: 0 auto;
    align-items: center;
}

.login-register input[type='text'],
.login-register input[type='email'],
.login-register input[type='password']{
    margin-bottom: 1.5rem;
    padding-bottom: 1.5rem;
    padding-top: 1.5rem;
    width: 300px;
}

.login-register input{
    height: 2.75rem;
    text-align: center;
    font-family: 'Arial';
    font-size: 2rem;
    font-weight: 300;
}

.login-register a{
    padding-top: 1.5rem;
    font-size: 2rem;
}

.login-register-header{
    padding-top: 1.5rem;
    font-weight: 200;
    font-size: 1.8rem;
    font-family: 'Arial';
    text-align: center;
}

.login-register-message{
    padding-top: 1.5rem;
    font-size: 1.5rem;
    color: rgb(204, 80, 42);
}

.login-register form label{
    font-size: 2rem;
}

.login-register form button{
    font-size: 2rem;
}

.login-register-header p{
    padding-top: 1.5rem;
    font-weight: 400;
    font-size: 2rem;
}

/* --------------------------- */
/* WALL questions */
/* --------------------------- */
.single-question h4{
    font-size: 2.5rem;
}

.single-question{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e1ebef;
    width: 750px;
    margin: 0 auto;
    margin-bottom: 2rem;
    padding: 1.5rem 2rem;
}

.single-question p{
    font-size: 2rem;
    padding: 0.5rem;
}

.login-register-header{
    margin-bottom: 2rem;
}

.wall-icons{
    color: #58ce71;
}

.info-text a,
.info-text a:active,
.info-text a:visited{
    color: black;
}

.info-text a:hover{
    color: rgb(83, 75, 75);
}

/* SINGLE QUESTION VIEW */
.question-details h4{
    font-size: 4.5rem;
}

.question-details h6{
    font-size: 2.5rem;
}

.question-details p{
    font-size: 1.5rem;
}

.question-details{
    background-color: #e1ebef;
    margin: 1.5rem 1.5rem;
    padding: 2rem 2rem;
    display: flex;
    justify-content: space-between;
}

.quest-txt i{
    font-size: 2.25rem;
    margin-top: 2rem;
}

.quest-img{
    padding-left: 3rem;
}

.quest-icons a,
.quest-icons p{
    color: #58ce71;
    font-size: 2.25rem;
    margin-right: 2rem;
}

.quest-icons{
    display: flex;
}

.question-details-answers h1{
    font-size: 4.5rem;
    margin: 1.5rem 0rem;
    padding: 2rem 2rem;
}

.single-answer{
    background-color: #e1ebef;
    margin-bottom: 2rem;
    margin: 1.5rem 1.5rem;
    padding: 2rem 2rem; 
}

.single-answer p{
    font-size: 1.5rem;
}

.single-answer i{
    font-size: 2.25rem;
    margin-top: 1.5rem;
}

.answer-content a{
    color: #58ce71;
    font-size: 2rem;
}

.answer-like{
    margin-top: 1rem;
}

/* FORM ROW */
.form-row {
    max-width: 550px;
    margin: 0 auto;
}

.form-row form {
    display: flex;
    flex-direction: column;
}

.form-row input,
.form-row textarea {
    width: 100%;
}

label {
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 300;
    margin-bottom: 1rem;
}

.form-row input[type='text'],
.form-row textarea {
    height: 3.5rem;
    border: none;
    box-shadow: 0 0 24px 2px #ddd;
    margin-bottom: 2rem;
    padding: 0.3rem 1rem;
    font-size: 2.2rem;
    font-weight: 300;
    font-family: 'Arial';
    transition: all 0.3s;
}

.form-row textarea {
    height: 20rem;
}

.form-row input[type='text']::placeholder,
.form-row textarea::placeholder {
    color: #aaa;
}

.form-row input[type='text']:focus,
.form-row textarea:focus {
    outline: none;
    box-shadow: 0 0 27px 2px #ccc;
}

.form-row button{
    margin-top: 1.5rem;
    margin-bottom: 2rem;
    height: 2.5rem;
    width: 100px;
}

#id_category{
    background-color: #58ce71;
    width: 150px;
}

.form-row a{
    font-size: 2rem;
    color: #58ce71;
}

/* MY QUESTIONS LIST */
.collection-list{
    display: flex;
    flex-direction: column;
    max-width: 550px;
    margin: 0 auto;
    margin-top: 2rem;
    font-size: 2.5rem;
}

.collection-list-row{
    margin-bottom: 1rem;
    background-color: #e1ebef;
    padding: 1.5rem;
}

.special-btn{
    padding: 0.5rem;
}

