/* big tablets and small notebooks */
/* 1024px - 1200px <=1200px */
@media only screen and (max-width: 1200px){

    .navbar form input[type='text']{
        width: 25rem;
        font-size: 1.5rem;
    }

    .navbar a{
        font-size: 1.75rem;
    }

    .navbar img{
        border-radius: 20%;
        margin: 1rem 1rem;
        margin-left: 3rem;
        height: 5rem;
        width: 6rem;
    }

    .navbar button{
        font-size: 175rem;
    }

    .question-details,
    .question-details-answers{
        margin: 2rem 7rem;
    }

    .quest-txt h4,
    .question-details-answers h1{
        font-size: 3rem;
    }
}

/* ipad mini */
/* 768px - 1023px <=1023px */
@media only screen and (max-width: 1023px) {

    .mobile-adj {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
    }

    .main-nav {
        display: none;
        min-width: 100px;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    .nav-burger {
        display: flex;
        font-size: 3.5rem;
        color: white;

    }

    .nav-burger-icon{
        font-size: 5.5rem;
    }

    .navbar form{
        margin-left: 3rem;
    }

    .navbar form input[type='text']{
        width: 20rem;
    }

    .navbar :first-child{
        margin-left: 3rem;
    }

    .single-question{
        width: 60rem;
        margin-top: 3.5rem;
    }

    .login-register-header{
        font-size: 1.5rem;
        margin-top: 2rem;
    }
}

/* phones (iphone SE) */
/* 375px - 767px <=767px */
@media only screen and (max-width: 767px) {

    .navbar img{
        height: 4rem;
        width: 5rem;
        margin: 0rem;
    }

    .navbar form input[type='text']{
        width: 11rem;
        font-size: 1.3rem;
    }

    .navbar form{
        margin: 1rem;
    }

    .navbar form button,
    .navbar form a {
        background-color: #58ce71;
        font-size: 1rem;
        padding: 0.35rem;
        border-top: 0.2rem solid black;
        border-right: 0.2rem solid black;
        border-bottom: 0.2rem solid black;
        border-left: 0.2rem solid black;
        font-family: 'Arial';
        font-weight: 300;
        color: black;
        margin-right: 0.75rem;
    }

    .navbar{
        padding-left: 0rem;
        padding-right: 0rem;
    }

    .navbar :first-child{
        margin-left: 1rem;
    }



}