{% extends 'base.html' %}


{% block title %}
    Answering to {{question.title}}
{% endblock title %}

{% block content %}
    <div class="add-answer">

        <div class="question-details">

            <div class="quest-txt">
                <h4>{{question.title}}</h4>
                <p>{{question.display_category_name}}</p>
                <p>Added by {{question.user}} {{question.display_time}}</p>
                <i>{{question.desc}}</i>

                <div class="quest-icons">
                    {% if question.is_liked %}
                        <p class="wall-icons"><ion-icon name="thumbs-up"></ion-icon>{{question.total_likes}}</p>
                    {% else %}
                        <p class="wall-icons"><ion-icon name="thumbs-up-outline"></ion-icon>{{question.total_likes}}</p>
                    {% endif %}
                </div>

            </div>

            {% if question.image %}
                <div class="quest-img">
                    <img src="{{question.image.url}}" alt="pics">
                </div>
            {% endif %}

        </div>

        <div class="form-row">
            <h1>Your answer</h1>
            <h3>{{message}}</h3>

            <form action="{% url 'forumapp:add_answer' question.id %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}

                <label for="id_desc">Type your answer here</label>
                <textarea name="desc" cols="40" rows="10" required="" id="id_desc"></textarea>

                <label for="id_image">Add image</label>
                <input type="file" name="image" accept="image/*" id="id_image">

                <button type="submit" class="btn btn-full">Release</button>

            </form>

        </div>

    </div>

{% endblock content %}
    
    