{% extends 'base.html' %}

{% block title %}
    Searching results
{% endblock title %}

{% block content %}

    <div class="login-register-header">
        <h1>Cars forum for drivers, mechanics and enthusiasts</h1>
    </div>

    {% if questions %}

        {% for question in questions %}

            <div class="single-question">
                <div class="info-text">
                    <a href="{% url 'forumapp:question_details' question.id %}">
                        <h4>{{question.title}}</h4>
                        <p>{{question.display_category_name}}</p>
                        <p>Added by {{question.user}}, {{question.display_time}}</p>
                        <p class="wall-icons"><ion-icon name="chatbox"></ion-icon> {{question.total_answers}} <ion-icon name="thumbs-up"></ion-icon> {{question.total_likes}}</p>
                    </a>
                </div>

                {% if question.image %}
                    <div class="info-image">
                        <a href="{% url 'forumapp:question_details' question.id %}">
                            <img src="{{question.image.url}}" alt="pics" height="100">
                        </a>
                    </div>
                {% endif %}

            </div>

        {% endfor %}
 
    {% else %}
        <div class="no-content-message">
            <h1>No results... to back to home page</h1>
        </div>
        
    {% endif %}
    



{% endblock content %}


    