{% extends 'base.html' %}

{% block title %}
    Home page
{% endblock title %}


{% block content %}
    <div class="login-register-header">
        <h1>Cars forum for drivers, mechanics and enthusiasts</h1>
    </div>

    {% for question in wall %}
        <div class="single-question">
            <a href="{% url 'forumapp:question_details' question.id %}">
                <h4>{{question.title}}</h4>
                <p>{{question.create_date|date:'j E Y'}}</p>
                <p>{{question.user}}</p>
                <p>{{question.display_category_name}}</p> 
                <p>{{question.desc|truncatechars:500}}</p>
                
                {% if  question.total_answers %}
                    <p>Answered {{question.total_answers}} time{{question.total_answers|pluralize}}</p>
                {% else %}
                    <p>Not answered yet</p>
                {% endif %}  
                
                <p>{{question.is_your_question}}</p>
                
            </a>
        </div>
    {% endfor %}

{% endblock content %}
    
    