{% extends 'base.html' %}


{% block title %}
    Liked questions - {{user.username}}
{% endblock title %}

{% block content %}

    <div class="login-register-header">
        <h1>Favorite questions</h1>
    </div>

    <div class="collection-list">
        {% if likedQuestions %}
        <ul>
            {% for question in likedQuestions %}
                <div class="collection-list-row">
                    {% if question.is_your_question %}
                    <li>
                        <div>
                            <a href="{% url 'forumapp:question_details' question.id %}">{{question.title}}</a>
                        </div>
                        <div>
                            <a href="{% url 'forumapp:like_question' question.id %}" class="btn btn-full special-btn">dislike</a>
                            <a href="{% url 'forumapp:edit_question' question.id %}" class="btn btn-full special-btn">edit</a>
                            <a href="{% url 'forumapp:delete_question' question.id %}" class="btn btn-full special-btn">delete</a>
                        </div>
                        
                    </li> 
                    {% else %}
                        <li>

                            <div>
                                <a href="{% url 'forumapp:question_details' question.id %}">{{question.title}} by {{question.user}}</a>
                            </div>
                            <div>
                                <a href="{% url 'forumapp:like_question' question.id %}" class="btn btn-full special-btn">dislike</a>
                            </div>
                        
                        </li>
                    {% endif %}
                </div>
            {% endfor %}
        </ul>
        
        {% else %}

            <h1>You dont't have favorite questions yet!</h1>
            
        {% endif %}

    </div>


    
   
{% endblock content %}
    
    