{% extends 'base.html' %}


{% block title %}
    Liked questions - {{user.username}}
{% endblock title %}

{% block content %}

    {% if likedQuestions %}
        <ul>
            {% for question in likedQuestions %}
                {% if question.is_your_question %}
                    <li>
                        <a href="{% url 'forumapp:question_details' question.id %}">{{question.title}}, {{question.user}}, {{question.total_likes}} </a>
                        <a href="{% url 'forumapp:edit_question' question.id %}">edit</a>
                        <a href="{% url 'forumapp:delete_question' question.id %}">delete</a>
                    </li> 
                {% else %}
                    <li>
                        <a href="{% url 'forumapp:question_details' question.id %}">{{question.title}}, {{question.user}}, {{question.total_likes}}</a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
        
    {% else %}
        <h1>You dont't have favorite questions yet!</h1>
    
    {% endif %}
    
   
{% endblock content %}
    
    