{% extends 'base.html' %}

{% block title %}
    {{question.title}}
{% endblock title %}

{% block content %}

    <div class="question-details">

        <div class="quest-txt">
            <h4>{{question.title}}</h4>
            <p>{{question.display_category_name}}</p> 
            <p>Added by {{question.user}} on {{question.create_date|date:'j E Y'}}, {{question.display_time}}</p>

            <i>{{question.desc}}</i>

            <div class="quest-icons">
                {% if question.is_liked %}
                    <a href="{% url 'forumapp:like_question' question.id 'questDetailsPage' %}"><p class="wall-icons"><ion-icon name="thumbs-up"></ion-icon>{{question.total_likes}}</p></a>
                {% else %}
                    <a href="{% url 'forumapp:like_question' question.id 'questDetailsPage' %}"><p class="wall-icons"><ion-icon name="thumbs-up-outline"></ion-icon>{{question.total_likes}}</p></a>
                {% endif %}
                <a href="{% url 'forumapp:add_answer' question.id %}"><ion-icon name="chatbox"></ion-icon> Comment</a>
            </div>
            
        </div>

        {% if question.image %}
            <div class="quest-img">
                <div>
                    <a href="{{question.image.url}}">
                        <img src="{{question.image.url}}" alt="pics">
                    </a>
                </div>
            </div>
        {% endif %}
            
    </div>

    <div class="question-details-answers">

        {% if answers %}

            <h1>Answers</h1>

        {% for answer in answers %}

        <div class="single-answer">

            <div class="answer-content">
                <p>{{answer.user}}, {{answer.create_date|date:'j E Y'}}</p>
                <i>{{answer.desc}}</i>

                <div class="answer-like">
                    {% if answer.is_liked %}
                        <a href="{% url 'forumapp:like_answer' answer.id 'questDetailsPage' %}"><ion-icon name="thumbs-up"></ion-icon>{{answer.total_likes}}</a>
                    {% else %}
                        <a href="{% url 'forumapp:like_answer' answer.id 'questDetailsPage' %}"><ion-icon name="thumbs-up-outline"></ion-icon>{{answer.total_likes}}</a>
                    {% endif %}

                    {% if answer.is_your_answer %}
                        <a href="{% url 'forumapp:edit_answer' question.id answer.id %}">Edit</a>
                        <a href="{% url 'forumapp:delete_answer' question.id answer.id %}">Delete</a>
                    {% endif %}

                </div>

            </div>

            {% if answer.image %}
                <div class="answer-img">
                    <a href="{{answer.image.url}}">
                        <img src="{{answer.image.url}}" alt="pics">
                    </a>
                    
                </div>
                
            {% endif %}
            
        </div>
         
        {% endfor %}
            
        {% else %}
            <h1>This question still doesn't have answers</h1> 
        {% endif %}

    </div>
  
{% endblock content %}
    