{% extends 'base.html' %}

{% block title %}
    {{user.username}} questions
{% endblock title %}

{% block content %}

    <div class="login-register-header">
        <h1>Your questions</h1>
    </div>

    <div class="collection-list">
        {% if my_questions %}
        <ul>
            {% for question in my_questions %}
            <div class="collection-list-row">
                <li>
                    <div>
                        <a href="{% url 'forumapp:question_details' question.id %}">{{question.title}}, created {{question.display_time}}</a>
                    </div> 
                    <div>
                        <a href="{% url 'forumapp:edit_question' question.id %}" class="btn btn-full special-btn">edit</a>
                        <a href="{% url 'forumapp:delete_question' question.id %}" class="btn btn-full special-btn">delete</a>
                    </div>
                </li>
            </div>
            {% endfor %}
        </ul>

        {% else %}
        
        <div class="no-content-message">
            <h1>You didn't ask any question so far!</h1>
        </div>
                 
        {% endif %}
 
    </div>
         
{% endblock content %}
    


    